@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Oswald:wght@200;300&family=Poppins:wght@200;300&display=swap');

#main-box{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap;

}
*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: rgb(49, 58, 51);
}
.fs{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: rgb(255, 123, 0);
}
h2{
    text-align: center;
    margin: 0px;
    padding:  0px;
    height: 20px;
    margin-bottom: 40px;

}
.image{
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: rgb(255, 119, 0);
    border-radius: 50%;
   
    display: flex;
    justify-content: center;
    align-items: center;

}

img{
    height: 150px;
}

.box-1{
    height: 100vh;
    width: 400px;
    background-color: aqua;
    display: flex;
    flex-flow: column;
    justify-content: center;
    
    
}
.box-1>h2{
    margin: 20px;
}
.image{
    margin-left: 25%;
}


.box-2{
    height: 100vh;
    width: 400px;
    background-color: rgb(255, 0, 128);
    display: flex;
    flex-flow: column;
    justify-content: center;
    
    
}
.box-2>h2{
    margin: 20px;
}
.image-2{
    margin-left: 25%;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: aqua;
    border-radius: 50%;
   
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.box-3{
    height: 100vh;
    width: 400px;
    background-color:  rgb(131, 41, 227);
    display: flex;
    flex-flow: column;
    justify-content: center;
    
    
}
.box-3>h2{
    margin: 20px;
}
.image-3{
    margin-left: 25%;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color:rgb(252, 206, 22);
    border-radius: 50%;
   
    display: flex;
    justify-content: center;
    align-items: center;

    
}




.lorem{
    height: 60vh;
  text-align: start;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin: 0px;
  margin-top: 30px;
  overflow: auto;
}