@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Roboto&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif;
}




.heading{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.main-box{
    display: grid;
    grid-template-columns: repeat(3 ,25%);
    justify-content: center;
    gap: 10px;
    margin-top: 50px;


}
img{
    height: 400px;
}
.item{
    height: 300px;
    width: 400px;
    background-color: rgb(161, 229, 73);
    border: 1px solid black;
    border-radius:30px;
    overflow: hidden;
    
}

@media screen and (max-width : 1888px){
    .main-box{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 50px;
    }
    .item{
        height: 300px;
        width: 400px;
        background-color: rgb(161, 229, 73);
        border: 1px solid black;
        border-radius:30px;
        overflow: hidden;
    }
}