@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Roboto&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif;

}

.down{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items:end;
}


footer{
    height: 500px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap:wrap ;
    align-items: center;
    justify-content: space-evenly;
    
}

.li{
    list-style: none;
    margin-top: 40px;
}
a{
text-decoration: none;
color: gray;
}

.item1{
    width: 400px;
    display: flex;
    flex-flow: column;
    align-items: start;
    margin-bottom: 96px;
}
P{
    color: gray;
    margin-top: 40px;
}
.item2{
    
}
.item3{

}
.item4{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: start;
    margin-bottom: 110px;
}

.email{
    height: 50px;
    width: 400px;
    border-radius: 5px;
    margin-top: 30px;
}

.button{
    height: 54px;
    width: 404px;
    font-size: 15px;
    background-color: #1b72e8;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}

@media screen and (max-width :888px) {

 .footer{
    height: 95vh;
}
    .item{
        width: 400px;
        margin-left: 40px;
        
    }
    p{
        width: 300px;
    }
    .email{
        width: 300px;
        margin-top: 30px;
    }
    .button{
        width: 304px;
        margin-bottom: 100px;
    }
    .item1{
        margin-bottom: 20px;
    }
    .item1>p{
        margin-top: 10px;
    }
    .item3{
        border-color: black;
        margin-top: 20px;
    }
    .item4{
        background-color: black;
        margin: 0px; 
        
        
    }
    .item4>h1{
        height: 10px;
        margin-left: 40px;
        margin-top: 20px;
    }
    .item4>.email{
        margin-left: 40px;
        margin-top: 60px;
    }
    .item4>.button{
        margin-left: 40px;
        margin-top: 10px;
    }
    .li{
        list-style: none;
        margin-top: 30px;
    }



}